<title>Administración</title>
<body>
<a href="/" class="def">inicio</a>
<a href="/admin/grades" class="def">cursos</a>
<a href="/admin/groups" class="def">grupos</a>
<a href="/admin/students" class="def">alumnos</a>
<a href="/admin/books" class="def">libros</a>
<a href="/admin/tickets" class="def">tickets</a>
<a href="/admin/users" class="def">usuarios</a>
<a href="/admin/backup" class="def">backup</a>
<b><i>Admin!</i></b> (<a href="/logout" class="def">logout</a>)

<h2>Notas de ayuda</h2>

<h3>Cursos y grupos</h3>

<p>La aplicación necesita que la lista de <a href="/admin/grades" class="def">cursos</a> y <a href="/admin/groups" class="def">grupos</a> sea <strong>consistente</strong> con los campos <code>curso</code> y <code>grupo</code> de los <a href="/admin/students" class="def">alumnos</a> y <a href="/admin/books" class="def">libros</a>.

Cuando se importan alumnos o libros, se añaden los cursos y los grupos que no existen, pero no está demas revisarlo.

<h3>Nombre de la organización y NIF para la nota de entrega</h3>

En la lista de usuarios aparecen 2 con <code>usenames</code> <strong>ORG</strong> y <strong>NIF</strong>. Estos sirvven para definir el nombre de la organización y el NIF que aparecen en la nota de entrega. Si no quieres que aparezcan asígnales sus valores por defecto ORG=None y NIF=0.

<h3>Importar y exportar datos</h3>

<p>Para importar/exportar datos debes tener en cuenta los siguientes puntos:</p>

<ul>
<li>Sólo se admiten <strong>archivos con valores separados por comas</strong> o <strong>CSV</strong>. Lo de la coma es importante.</li>
<li>La codificación de caracteres es <strong>UTF-8</strong> y lo deberás tener en cuenta tanto al importar los datos en tu hoja de cálculo (Excel, LibreOffice, etc.) como al guardarlo como <code>.csv</code>.</li>
</ul>
<p>Por ejemplo, cuando LibreOffice abre el archivo <code>.csv</code>, se abre un cuadro de diálogo en el que pregunta cuál es la codificación de caracteres que se debe utilizar y cuál es el delimitador de texto. Entonces hay que seleccionar <code>Unicode (UTF-8)</code> como codificación y la <code>coma</code> como delimitador.</p>
</body>