<title>Backup</title>
<body>
<a href="/" class = "def">inicio</a>

<b><i>Addmin</i></b> (<a href="/logout" class = "def">logout</a>)

<h2> Descargar una copia de la base de datos</h2>
<a href="/libros.sqlite" class = "def">descargar base de datos</a>
<hr />
<h2>Subir una nueva base dedatos</h2>
<p><i>Selecciona el fichero de datos <b>"libros.sqlite"</b>:</i></p>
<form method="POST" enctype="multipart/form-data" action="">
<input type="file" name="myfile" />
<br/>
<input type="submit" />
</form>
</body>
