$def with (book, grades, groups)
<title>Editar libro</title>
<body>
<a href="/" class = "def">inicio</a> <a href="/books" class = "def">alumnos</a>
<b><i>Admin!</i></b> (<a href="/logout" class = "def">logout</a>)

<h2>Editar libro:</h2>

$for s in book
    <form name="bookedit" method="post" id="1">
    <table border="0" cellpadding="2">
    <tr>
        <td><b>id</b></td>
        <td>$s['id']</input></td>
    </tr>
    <tr>
        <td><b>titulo</b></td>
        <td><input type="text" name="titulo_$s['id']" value="$s['titulo']" size="64"></input></td>
    </tr>
    <tr>
        <td><b>curso</b></td>
        <td>
        <select name="curso_$s['id']">
            $for grade in grades:
                $if s['curso'] == grade.grade:
                    <option value="$grade.grade" selected="selected">$grade.grade</option>
                $else:
                    <option value="$grade.grade">$grade.grade</option>
        </select>
        </td>
    </tr>
    <tr>
        <td><b>grupo</b></td>
        <td>
        <select name="grupo_$s['id']">
            $for group in groups:
                $if s['grupo'] == group.groupe:
                    <option value="$group.groupe" selected="selected">$group.groupe</option>
                $else:
                    <option value="$group.groupe">$group.groupe</option>
        </select>
        </td>
    </tr>
    <tr>
        <td><b>editorial</b></td>
        <td><input type="text" name="editorial_$s['id']" value="$s['editorial']" size="64"></input></td>
    </tr>
    <tr>
        <td><b>precio</b></td>
        <td><input type="text" name="precio_$s['id']" value="$s['precio']" size="12"></input></td>
    </tr>

    <tr>
        <td><b>stock</b></td>
        <td><input type="text" name="stock_$s['id']" value="$s['stock']" size="12"></input></td>
    </tr>
    </table>

    <hr />
    <input type="checkbox" name="delete_$s['id']"></input> <b style="color:#ff0000">Eliminar libro</b></td> 
    <hr />
    <input type="submit" />
    </form>
</body>