$def with (ticket, items, org, nif, enabled)

<title>Nota de entrega</title>

$if enabled is True:
    <body onload="javascript:window.print()">
$else:
    <body>
<p>Te ha atendido <b><i>$ticket.dependiente</i></b> el $ticket.date</p>
<hr />

$if ticket.total < 0:
    <h2>Nota de entrega <em>(devolución)</em></h2>
$else:
    <h2>Nota de entrega <em>(compra)</em></h2>

<p>
<b>Número de nota:</b> $ticket.id<br>
$if org.name != 'None':
    <b>Organización:</b> $org.name<br>

$if nif.name != '0':
    <b>NIF:</b> $nif.name<br>
</p>

<hr />

<h3>Alumno</h3>

<table border="0" cellpadding="2">
    <tr>
        <td><b>Nombre</b></td>
        <td>$ticket.alumno</td>
    </tr>
        <td><b>Curso</b></td>        
        <td>$ticket.curso</td>
    </tr>
</table>

<hr />

<table border="0" cellpadding="2">
<tr>
    <td><b>Item</b></td>
    <td><b>Curso</b></td>
    <td><b>Grupo</b></td>
    <td><b>Título</b></td>
    <td><b>Editorial</b></td>
    <td><b>Precio</b></td>
</tr>

$for item in items:
    $for i in item:
        <tr id="t$i.id">
        <td>$i.id</td>
        <td>$i.curso</td>
        <td>$i.grupo</td>
        <td>$i.titulo</td>
        <td>$i.editorial</td>
        $if ticket.total < 0:
            <td>-$i.precio EUR</td>
        $else:
            <td>$i.precio EUR</td>
    </tr>
<tr>
    <td><b></b></td>
    <td><b></b></td>
    <td><b></b></td>
    <td><b>Total</b></td>
    <td><b>$ticket.total EUR</b></td>
</tr>
</table>
</body>
