$def with (stud, grades, groups)
<a href="/" class = "def">inicio</a> <a href="/students" class = "def">alumnos</a>
<b><i>Admin!</i></b> (<a href="/logout" class = "def">logout</a>)

<h2>Edtitar alumno:</h2>

$for s in stud
    <form name="editstud" method="post" id="1">
    <table border="0" cellpadding="2">
    <tr>
        <td><b>id</b></td>
        <td>$s['id']</input></td>
    </tr>
    <tr>
        <td><b>nombre</b></td>
        <td><input type="text" name="nombre_$s['id']" value="$s['nombre']" size="64"></input></td>
    </tr>
    <tr>
        <td><b>curso</b></td>
        <td>
        <select name="curso_$s['id']">
            $for grade in grades:
                $if s['curso'] == grade.grade:
                    <option value="$grade.grade" selected="selected">$grade.grade</option>
                $else:
                    <option value="$grade.grade">$grade.grade</option>
        </select>
        </td>
    </tr>
    <tr>
        <td><b>grupo</b></td>
        <td>
        <select name="grupo_$s['id']">
            $for group in groups:
                $if s['grupo'] == group.groupe:
                    <option value="$group.groupe" selected="selected">$group.groupe</option>
                $else:
                    <option value="$group.groupe">$group.groupe</option>
        </select>
        </td>
    </tr>
    <tr>
        <td><b>tutor</b></td>
        <td><input type="text" name="tutor_$s['id']" value="$s['tutor']" size="64"></input></td>
    </tr>
    <tr>
        <td><b>tel1</b></td>
        <td><input type="text" name="tel1_$s['id']" value="$s['tel1']" size="12"></input></td>
    </tr>

    <tr>
        <td><b>tel2</b></td>
        <td><input type="text" name="tel2_$s['id']" value="$s['tel2']" size="12"></input></td>
    </tr>

    <tr>
        <td><b>mail1</b></td>
        <td><input type="text" name="mail1_$s['id']" value="$s['mail1']" size="32"></input></td>
    </tr>

    <tr>
        <td><b>mail2</b></td>
        <td><input type="text" name="mail2_$s['id']" value="$s['mail2']" size="32"></input></td>
    </tr>

    </table>

    <hr />
    <input type="checkbox" name="delete_$s['id']"></input> <b style="color:#ff0000">Eliminar alumno</b></td> 
    <hr />
    <input type="submit" />
    </form>
