$def with (users)
<a href="/" class = "def">inicio</a>
<a href="/useradd" class = "def">nuevo_usuario</a>
<b><i>Admin!</i></b>(<a href="/logout" class = "def">logout</a>)
<h2>Usuarios registrados</h2>
El usuario <b>NIF</b> se usa para definir el NIF del ticket.<br>
El usuario <b>ORG</b> se usa para definir el emisor del ticket.

<form name="users" method="post">

<table border="0" cellpadding="2">
<tr>
	<td style="color:#ff0000"><b>delete</b></td>
	<td><b>username</b></td>
	<td><b>name</b></td>
</tr>
$for user in users:
	<tr id="t$user.id">
        <td>
        	$if user.username != 'admin':
        		<input type="Checkbox" name="$user.id"></input>
        </td>
		<td>$user.username</td>
		<td>$user.name</td>
	</tr>
</table>

<input type="submit" />
</form>

